@model List<Usuario>

<h1>Usuarios</h1>
<p>
    <a asp-action="Create" class="btn btn-info">Crear</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>NombreCompleto</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>FechaRegistro</th>
         
         
            <th>Fecha Nacimiento</th>
           
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => user.NombreCompleto)</td>
                    <td>@Html.DisplayFor(m => user.Email)</td>
                    <td>@Html.DisplayFor(m => user.Telefono)</td>
                    <td>@Html.DisplayFor(m => user.Direccion)</td>
                    <td>@Html.DisplayFor(m => user.FechaRegistro)</td>
                    <td>@Html.DisplayFor(m => user.FechaNacimiento)</td>
                  
                    <td><a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a></td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Update</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="11">No hay usuarios para mostrar.</td>
            </tr>
        }

    </tbody>

</table>